@model IEnumerable<Bus.Web.Models.RouteViewModel>

<br />
    <p>
        <a class="btn btn-info" asp-action="Create" asp-controller="Route">Create New Route</a>
    </p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Route ID
            </th>
            <th>
                Route Name
            </th>
            <th>
                Number Of Stops
            </th>
            <th>
                Number Of Bus
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RouteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfStops)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusCount)
            </td>

            <td>
                <a asp-controller="Route" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="Route" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="Route" asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
            </td>
        </tr>
        }
    </tbody>
</table>
