@model IEnumerable<Bus.Web.Models.BusRouteViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<br />
<h1 class="text-info pl-3">Bus-Route-Details</h1>
<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Bus Name
            </th>
            <th>
                Bus No.
            </th>
            <th>
                Route Id
            </th>
            <th>
                Route Name
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BusDetails.BusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusDetails.BusNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusDetails.RouteID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Route.RouteName)
            </td>
            <td>
                <a asp-controller="Route" asp-action="TicketBook" asp-route-id="@item.Route.Id">
                    BookTicket
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>